{{- $options := dict -}}
{{- if not (transform.CanHighlight .Type) -}}
  {{- $options = dict "type" "text" -}}
{{- end -}}
{{- $result := transform.HighlightCodeBlock . $options -}}
<figure class="code-block">
  <button class="code-copy" type="button" data-copy-code aria-label="Copy code" title="Copy code">
    <svg class="code-copy-icon code-copy-icon-clipboard" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M9 5.25H7.5A2.25 2.25 0 0 0 5.25 7.5v11.25A2.25 2.25 0 0 0 7.5 21h9a2.25 2.25 0 0 0 2.25-2.25V7.5a2.25 2.25 0 0 0-2.25-2.25H15M9 5.25A2.25 2.25 0 0 1 11.25 3h1.5A2.25 2.25 0 0 1 15 5.25M9 5.25A2.25 2.25 0 0 0 11.25 7.5h1.5A2.25 2.25 0 0 0 15 5.25"/>
    </svg>
    <svg class="code-copy-icon code-copy-icon-check" viewBox="0 0 24 24" aria-hidden="true">
      <path d="m5.5 12.5 4 4 9-9"/>
    </svg>
  </button>
  {{ $result.Wrapped }}
</figure>
{{- .Page.Store.Set "hasCodeBlocks" true -}}
